<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819897549222-5tpqfrabboqp5utb23q5o94njoaj5lhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819897549222-5tpqfrabboqp5utb23q5o94njoaj5lhf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>819897549222-l5iauhsbrf0o105v0btp8m850o5p4462.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd5hG5hdBsLRLv6zjRwApGrqd6SvssHDA</string>
	<key>GCM_SENDER_ID</key>
	<string>819897549222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cybage.covidcare</string>
	<key>PROJECT_ID</key>
	<string>covidcare-3474d</string>
	<key>STORAGE_BUCKET</key>
	<string>covidcare-3474d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819897549222:ios:0136211d5e192f29140f67</string>
	<key>DATABASE_URL</key>
	<string>https://covidcare-3474d.firebaseio.com</string>
</dict>
</plist>